.fm-initialization-modal-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(237, 237, 237);
  backdrop-filter: blur(5px);
  z-index: 1300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm-initilization-progress-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
