.fm-file-browser-top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(237, 129, 49);

  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
