.fm-file-item-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 12px;

  & input {
    margin: 0;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: #d1d1d1;
  }
}

.fm-file-item-content-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;

  &.fm-checkbox {
    flex-grow: 1;
  }

  & input {
    accent-color: rgb(237, 129, 49);
  }
}

.fm-file-item-name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  flex-grow: 2;

  & svg {
    width: 20px;
    height: 20px;
    color: rgb(237, 129, 49);
  }
}

.fm-file-item-context-menu {
  position: absolute;
  z-index: 1000;
}

.fm-file-item-context-menu[data-drop='up'] {
  transform-origin: bottom left;
}

.fm-file-item-context-menu[data-drop='up'] .caret {
  transform: rotate(180deg);
  bottom: -6px;
  top: auto;
}
