{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "proseWrap": "always"
}
