.fm-tooltip-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;

  & .fm-tooltip-container {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    max-width: 550px;
    background: #fff;
    color: #222;
    text-align: center;
    border-radius: 4px;
    padding: 6px 12px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    right: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    font-size: 13px;
    pointer-events: none;
    transition: opacity 0.2s, visibility 0.2s;
    border: 1px solid rgb(209, 213, 219);
  }

  &:hover .fm-tooltip-container,
  .fm-tooltip-container:hover {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
