.fm-delete-file-modal {
  width: 510px;
}

.fm-delete-file-modal-list {
  margin: 0 0 12px 0;
  padding: 0;
  list-style: none;
  max-height: 240px;
  overflow: auto;
}

.fm-delete-file-modal-list-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
