.fm-error-modal-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fm-error-modal-message {
  display: flex;
  justify-content: center;
}

.fm-error-modal-button-container {
  width: 100%;
  display: flex;
  justify-content: right;
}
