.fm-main {
  position: relative;
  border-left: 1px solid rgb(146, 146, 146);
}

.fm-main-content {
  display: flex;
}

.fm-main-content-file-browser {
  width: 100%;
  background-color: white !important;
}
