.fm-owner-status-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(33, 33, 33);
  height: 60px;
  padding: 10px 16px;
}

.fm-owner-status-bar-left {
  display: flex;
  align-items: center;
  gap: 16px;
  color: rgb(229, 231, 235);
}

.fm-owner-status-bar-upgrade-button {
  padding: 6px;
  background-color: rgb(237, 237, 237);
  border-radius: 0px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    opacity: 0.9;
  }
}
