.fm-upgrade-timeout-modal {
  .fm-modal-white-section {
    p {
      margin-bottom: 12px;
      line-height: 1.5;
    }

    ul {
      margin-left: 20px;
      margin-top: 8px;

      li {
        margin-bottom: 8px;
        line-height: 1.5;
      }
    }
  }
}
