.fm-extend-button {
  padding: 3px;
  background-color: rgb(237, 129, 49);
  color: white;
  border-radius: 0px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgb(209, 109, 29);
  }
}
