@font-face {
  font-family: "IBMPlexMono500";
  src: url(assets/fonts/IBMPlexMono500.ttf) format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: "IBMPlexMono600";
  src: url(assets/fonts/IBMPlexMono600.ttf) format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: "IBMPlexMonoregular";
  src: url(assets/fonts/IBMPlexMonoregular.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "WorkSans-Italic-VariableFont_wght";
  src: url(assets/fonts/WorkSans-Italic-VariableFont_wght.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "WorkSans-VariableFont_wght";
  src: url(assets/fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
}

.App {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}

a, button {  
  font-family: "IBMPlexMono500" !important;
  color: #dd7700;
}