name: Check

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    env:
      REACT_APP_BEE_HOST: https://api.test-node.staging.ethswarm.org/
      REACT_APP_BEE_DEBUG_HOST: https://debug.test-node.staging.ethswarm.org/
      REACT_APP_DEV_MODE: 1
      REACT_APP_SENTRY_KEY: ${{ secrets.SENTRY_KEY }}
      REACT_APP_SENTRY_ENVIRONMENT: 'preview'

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      ## Try getting the node modules from cache, if failed npm ci
      - uses: actions/cache@v2
        id: cache-npm
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-${{ matrix.node-version }}-${{ env.cache-name }}-
            ${{ runner.OS }}-node-${{ matrix.node-version }}-

      - name: Install npm deps
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: npm ci

      - name: Commit linting
        uses: wagoid/commitlint-github-action@v2

      - name: Code linting
        run: npm run lint:check
        env:
          CI: true

      - name: Dependency check
        run: npm run depcheck

      - name: Types check
        run: npm run check:types

      - name: Update supported Bee action
        uses: ethersphere/update-supported-bee-action@v1
        if: github.ref == 'refs/heads/master'
        with:
          token: ${{ secrets.GHA_PAT_BASIC }}

      - name: Build
        run: npm run build

      - name: Build Component
        run: npm run build:component

      - name: Create preview
        uses: ethersphere/swarm-actions/pr-preview@v0
        with:
          bee-url: https://unlimited.gateway.ethswarm.org
          token: ${{ secrets.GHA_PAT_BASIC }}
          error-document: index.html
          headers: "${{ secrets.GATEWAY_AUTHORIZATION_HEADER }}"

      - name: Upload to testnet
        uses: ethersphere/swarm-actions/upload-dir@v0
        continue-on-error: true
        with:
          index-document: index.html
          error-document: index.html
          dir: ./build
          bee-url: https://api.gateway.testnet.ethswarm.org
